<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p %C: %m%n"/>
        </Console>

        <RollingFile name="RollingFile" filename="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>"%d %-5p %C{2}: %m%n"</Pattern>
            </PatternLayout>
                        <Policies>
                            <TimeBasedTriggeringPolicy/>
                        </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}">
                <IfFileName glob="hippodrome.*.log"/>
                <IfLastModified age="P7d"/>
            </Delete>
        </DefaultRolloverStrategy>

        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>